


.cur-nav-color,
.cd-accordion-menu a.cur-nav-color,
.cd-accordion-menu label:hover, 
.cd-accordion-menu a:hover,
.home-text-wrap h1 span,
.project-nav-wrap .left-nav .text-on-hover:before,
.project-nav-wrap .right-nav .text-on-hover:after,
.page-title p,
.page-title-in h5,
.box-title-in h6,
#owl-about .item h6,
.box-team h6,
.error,
.subscribe button:hover,
.blog-box h6,
.blog-box .more:after,
.num-of-com span,
.sidebar-list-one li a:hover,
.sidebar h6,
.comment a,
.for-comment-top h6{
	color:#6dc234;
}

#royal_preloader.royal_preloader_progress .royal_preloader_meter,
#filter li a:before,
.footer a:before,
.cd-accordion-menu li ul li a:before,
#bar,
#bar-about,
#cd-zoom-in, #cd-zoom-out,
#ajax-form button:hover,
#ajax-form button,
#owl-blog-slider.owl-theme .owl-controls .owl-page.active span,
#owl-blog-slider.owl-theme .owl-controls .owl-page span:hover,
.sidebar-search button,
.sidebar-list-two li a:hover {
	background-color: #6dc234;
}
figure.vimeo a:before, figure.youtube a:before {
	border-left: 10px solid #6dc234;
}
figure.vimeo:hover a:after, figure.youtube:hover a:after {
	background:#6dc234;
}
#ajax-form textarea:focus,
#ajax-form input:focus,
#ajax-form textarea:active,
#ajax-form input:active {	
	border-bottom:1px solid #6dc234;
}
.subscribe input:active,
.subscribe input:focus {	
	border-bottom:1px solid #6dc234;
}
.post-wrapper blockquote{ 
	border-left:3px solid #6dc234;
}
.sidebar-search input:active,
.sidebar-search input:focus {	
	border-bottom:1px solid #6dc234;
}
.sidebar-list-one li:before{ 
	border:1px solid #6dc234;
}
.sidebar-list-two li a:hover{
	border:2px solid #6dc234;
}
::selection {
	background-color: #6dc234;
	}
::-moz-selection {
	background-color: #6dc234;
}

























